<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <div>
        <label for="email">Email</label>
        <input type="text" placeholder="enter email" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" placeholder="password" name="password" />
      </div>
      <input type="submit" />
    </form>
    <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li><%= error %></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
